---
import type { CollectionEntry } from 'astro:content';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
// import BaseHead from '../components/BaseHead.astro';
// import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
// import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'projects'>['data'];

const { title, tags, description, heroImage } = Astro.props;

---

<html lang="en">
	<head>
		<BaseHead title=`${SITE_TITLE} | ${title}` description={SITE_DESCRIPTION} />
	</head>

	<body>
		<Header compact />
		<main class="main-wrapper">
			<article>
				<div class="prose">
                    <div class="article-header">
                        <div class="title">
                            <h1 class="title-text">{title}</h1>

                            <ul class="tags">
                                {tags.map((tag) => (
                                    <li class="mono-bold">{tag}</li>
                                ))}
                            </ul>
                        </div>
                        <h2 class="description">
                            {description}
                        </h2>
                        <div class="hero-image">
                            {heroImage && <img src={heroImage} alt="" />}
                        </div>
                    </div>
                    <div class="article-content">
                        <slot />
                    </div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>

<style>
    main.main-wrapper {
        width: 720px;
    }

    .hero-image {
        padding: var(--standard-spacing-px);
        position: relative;
    }

    .hero-image::after {
        background-color: var(--soft-highlight);
        border-radius: 50%;
        content: '';
        filter: blur(128px);
        height: 80%;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 0;
    }

    .hero-image img {
        max-height: 400px;
        object-fit: contain;
        position: relative;
        width: 100%;
        z-index: 1;
    }

</style>
